/* 主色调：#f58b00 */
.index {
  min-height: 100vh;
  background-image: url(../image/header_bg.png);
  background-size: contain;
  background-color: #f7f7f7;
  overflow: hidden;
  background-repeat: no-repeat;
  padding: 0 0.2rem;
  padding-bottom: 1.5rem;
}

.index header h3.title {
  margin: 0.4rem 0;
  text-align: center;
  font-size: 0.36rem;
  color: #ffffff;
}

.index header .search {
  width: 7.1rem;
  height: 0.88rem;
  margin: 0 auto;
  border-radius: 0.12rem;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: space-between;
}

.index header .search input {
  font-size: 0.28rem;
  color: #ffffff;
  padding-left: 0.2rem;
  width: 100%;
}

.index header .search input::placeholder {
  color: #ffffff;
}

.index header .search button {
  margin-right: 0.41rem;
  background: none;
}

.index header .search button img {
  width: 0.28rem;
  height: 0.28rem;
}

.index header .Notice {
  height: 0.32rem;
  margin: 0.38rem 0.04rem;
  display: flex;
  align-items: center;
}

.index header .Notice img.notice_icon {
  width: 0.58rem;
}

.index header .Notice .border {
  width: 0.02rem;
  height: 0.32rem;
  background-color: #fff;
  margin: 0 0.3rem;
}

.index header .Notice marquee {
  width: 5.3rem;
  font-size: 0.28rem;
  color: #ffffff;
  margin-right: 0.19rem;
}

.index header .Notice img.so {
  width: 0.26rem;
}

.index .banner {
  margin-bottom: 0.4rem;
}

.index .banner .swiper-pagination-bullet {
  width: 0.1rem;
  height: 0.1rem;
  display: inline-block;
  border-radius: 100%;
  background: #ffffff;
  opacity: 0.4;
}

.index .banner .swiper-pagination-bullet-active {
  opacity: 1;
  background-color: #e96800;
}

.index .banner .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 0.04rem;
}

.index .banner .swiper-container-horizontal>.swiper-pagination-bullets,
.index .banner .swiper-pagination-custom,
.index .banner .swiper-pagination-fraction {
  bottom: 0.63rem;
}

.index .product .product-swiper {
  padding-bottom: 0.21rem;
}

.index .product .swiper-slide {
  display: flex;
  justify-content: inherit;
  flex-wrap: wrap;
}

.index .product .swiper-slide a {
  width: 2.3rem;
  height: 0.88rem;
  border-radius: 0.12rem;
  line-height: 0.88rem;
  text-align: center;
  display: block;
  background: url(../image/producta-bg.png) no-repeat;
  background-size: 100% 100%;
  font-size: 0.32rem;
  color: #e96800;
  margin-bottom: 0.1rem;
  overflow: hidden;
  margin-right: .095rem;
}

.index .product .swiper-slide a:nth-child(3n) {
  margin-right: 0;
}

.index .product .swiper-slide a.active {
  background: url(../image/product_bg_active.png) no-repeat;
  background-size: 100% 100%;
  color: #ffffff;
}

.index .product .swiper-container-horizontal>.swiper-pagination-bullets,
.index .product .swiper-pagination-custom,
.index .product .swiper-pagination-fraction {
  bottom: 0;
}

.index .product .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 0.04rem;
}

.index .product .swiper-pagination-bullet {
  width: 0.1rem;
  height: 0.1rem;
  display: inline-block;
  border-radius: 100%;
  border: 0.01rem solid #e96800;
  opacity: 0.4;
  background-color: #fff;
}

.index .product .swiper-pagination-bullet-active {
  width: 0.32rem;
  height: 0.1rem;
  border-radius: 0.5rem;
  opacity: 1;
  background-color: #e96800;
}

.index .product_list .list {
  width: 7.06rem;
  margin: 0 auto;
  min-height: 6rem;
  background-image: url(../image/index_list_bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff;
  padding: 0 0.21rem;
  border-radius: 0.3rem;
  box-shadow: 0 0 0.2rem #ddd;
  padding-bottom: 0.44rem;
  display: block;
  margin-top: 0.41rem;
}

.index .product_list .list .bt {
  width: 100%;
  height: 0.67rem;
  line-height: 0.67rem;
  text-align: center;
  font-size: 0.32rem;
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 0.08rem;
}

.index .product_list .list ul {
  display: flex;
  /*justify-content: space-between;*/
  flex-wrap: wrap;
}

.index .product_list .list ul li {
  width: 25%;
  margin-top: 0.56rem;
}

.index .product_list .list ul li .img {
  width: 0.98rem;
  position: relative;
  margin: 0 auto;
}

.index .product_list .list ul li .img .x {
  position: absolute;
  width: 1.03rem;
  height: 0.26rem;
  line-height: 0.26rem;
  background: url(../image/x_bg.png) no-repeat;
  background-size: 100% 100%;
  top: -0.14rem;
  left: 0.14rem;
  z-index: 1;
}

.index .product_list .list ul li .img .x p {
  width: 0.97rem;
  float: right;
  font-size: 0.2rem;
  color: #ffffff;
  text-align: center;
}

.index .product_list .list ul li h5 {
  margin: 0.15rem 0;
  font-size: 0.25rem;
  color: #333333;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.index .product_list .list ul li .discount {
  font-size: 0.26rem;
  color: #999999;
  text-align: center;
  line-height: 1;
}

.index .swiper-container {
  width: 100%;
  height: 100%;
}

.index .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.index2 header,
.index2 .banner,
.index2 .sort {
  margin: auto .2rem;
}

.index2 .banner {
  margin-bottom: 0.4rem;
}

.index2 .sort .title {
  height: .8rem;
  line-height: .8rem;
  color: #ffffff;
  font-size: .32rem;
  text-align: center;
  background: url(../image/sort_bg.png) no-repeat;
  border-radius: .12rem;
  box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.1);
}

.index2 .sort .swiper-container {
  /*height: 4.4rem;*/
  padding-bottom: 0.41rem;
  margin-top: .2rem;
}

.index2 .sort .swiper-container .swiper-slide a {
  background: none;
  width: 23.5%;
  height: auto;
  margin-bottom: 0;
}

.index2 .sort .swiper-container .swiper-slide a img {
  width: 1.1rem;
  height: 1.1rem;
  margin: 0 auto;
}

.index2 .sort .swiper-container .swiper-slide a p {
  margin-bottom: .29rem;
  margin-top: 0.2rem;
  line-height: 1;
  font-size: .25rem;
  color: #333333;

  overflow: hidden;

  white-space: nowrap;
}

.index2 .product_list .list {
  padding: 0;
  width: 100%;
  min-height: 5.29rem;
  background-image: url(../image/index2_list_bg.png);
}

.index2 .product_list .list ul {
  display: block;
  margin-top: .5rem;
}

.index2 .product_list .list ul li {
  width: 100%;
  padding: .28rem .17rem;
  display: flex;
  border-bottom: 0.01rem solid #e6e6e6;
  margin-top: 0;
}

.index2 .product_list .list ul li img.pic {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 0;
}

.index2 .product_list .list ul li .right {
  flex: 1;
}

.index2 .product_list .list ul li .right h1 {
  margin-left: 0.16rem;
  font-size: 0.28rem;
  color: #333333;
  font-weight: normal;
  line-height: 0.31rem;
}

.index2 .product_list .list ul li .right h1 a {
  color: #333333;
}

.index2 .product_list .list ul li .right .shopTag {
  width: 100%;
  height: 0.26rem;
  margin-left: 0.16rem;
  margin-top: 0.16rem;
  margin-bottom: 0.3rem;
  color: #fff;
  display: flex;
}

.index2 .product_list .list ul li .right .shopTag span {
  width: 60px;
  height: 20px;
  text-align: center;
  margin-right: 5px;
  line-height: 20px;
  border-radius: 5px;
  background-color: #ff4a47;
}

.index2 .product_list .list ul li .right .shopTag span.tag2 {
  width: 60px;
  height: 20px;
  text-align: center;
  margin-right: 5px;
  line-height: 20px;
  border-radius: 5px;
  background-color: #01ae66;
}

.index2 .product_list .list ul li .right .shopTag span.tag3 {
  width: 60px;
  height: 20px;
  text-align: center;
  margin-right: 5px;
  line-height: 20px;
  border-radius: 5px;
  background-color: #fe9b39;
}

.index2 .product_list .list ul li .right .shopTag span.tag4 {
  width: 60px;
  height: 20px;
  text-align: center;
  margin-right: 5px;
  line-height: 20px;
  border-radius: 5px;
  background-color: #3e76ff;
}

.index2 .product_list .list ul li .bot {
  display: flex;
  width: 100%;
  margin-left: 0.15rem;
  justify-content: space-between;
  align-items: flex-end;
}

.index2 .product_list .list ul li .bot p.price {
  font-size: 0.22rem;
  color: #333333;
  display: flex;
  align-items: flex-end;
}

.index2 .product_list .list ul li .bot p.price span {
  color: #e86800;
}

.index2 .product_list .list ul li .bot p.price span b {
  font-size: 0.32rem;
  color: #e86800;
}

.index2 .product_list .list ul li .bot p.stock,
.index2 .product_list .list ul li .bot p.sales {
  font-size: 0.22rem;
  color: #999999;
}

.index2 .product_list .list ul li .bot a.buy2 {
  width: 1.23rem;
  height: 0.41rem;
  background: url(../image/buy_bg2.png) no-repeat;
  background-size: 100% 100%;
  font-size: 0.22rem;
  color: #fff;
  line-height: 0.41rem;
  text-align: center;
}

.index2 .product_list .list ul li .bot a.buy {
  width: 1.4rem;
  height: 0.5rem;
  margin-right: 10px;
  background: url(../image/buy_bg.png) no-repeat;
  background-size: 100% 100%;
  font-size: 0.22rem;
  color: #fff;
  line-height: 0.5rem;
  text-align: center;
}

.index2 .product_list .list ul li:last-child {
  border-bottom: none;
}

.warp {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
}

.warp .page_title {
  width: 100%;
  height: 0.88rem;
  background: url(../image/page_title.png) no-repeat;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.warp .page_title a {
  position: absolute;
  left: 0.35rem;
}

.warp .page_title a img {
  width: 0.22rem;
}

.warp .page_title p {
  text-align: center;
  font-size: 0.36rem;
  color: #ffffff;
  font-weight: bold;
}

.warp .header_title {
  position: fixed;
  background: #fff;
  width: 100%;
  z-index: 2;
}

.warp .header_title p {
  color: #e86800;
}

.warp .Cashier_title {
  background: #F7F7F7;
}

.warp .Cashier_title p {
  color: #e86800;
}

.warp .details {
  padding-top: 45px;
  padding-bottom: 1rem;
}

.warp .details .banner {
  width: 100%;
}

.warp .details .banner img {
  width: 100%;
  height: 7.5rem;
}

.warp .details .center {
  padding-bottom: 0.2rem;
}

.warp .details .center .details_box {
  margin-bottom: 0.1rem;
  box-shadow: 0 0.01rem 0.1rem rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(#fffaf5, #ffffff);
}

.warp .details .center .pro_deta {
  width: 100%;
  /* height: 1.6rem;*/
  padding: 0 0.2rem;
}

.warp .details .center .pro_deta .top {
  min-height: 0.76rem;
  position: relative;
  border-bottom: 0.01rem solid rgba(204, 204, 204, 0.4);
}

.warp .details .center .pro_deta .top h2 {
  margin-bottom: .3rem;
  line-height: 0.45rem;
  font-size: 0.36rem;
  color: #333333;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: .3rem;
}

.warp .details .center .pro_deta .top span {
  position: absolute;
  display: block;
  width: 0.85rem;
  height: 0.85rem;
  background-color: #e86800;
  border-radius: 100%;
  border-bottom-right-radius: 0;
  font-size: 0.2876rem;
  color: #ffffff;
  text-align: center;
  padding: 0.1rem;
  line-height: 0.34rem;
  top: -0.97rem;
}

.warp .details .center .pro_deta p {
  font-size: 0.24rem;
  color: #333333;
  padding-left: 0.14rem;
}

.warp .details .center .Price {
  height: 1.54rem;
  position: relative;
}

.warp .details .center .Price .bord {
  position: absolute;
  width: 0.01rem;
  height: 1rem;
  background-color: #cccccc;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.warp .details .center .Price ul {
  height: 1.54rem;
  display: flex;
  align-items: center;
}

.warp .details .center .Price ul li {
  flex: 1;
  text-align: center;
}

.warp .details .center .Price ul li p {
  font-size: 0.28rem;
  color: #333333;
}

.warp .details .center .Price ul li .jg {
  margin-top: 0.17rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: #333333;
}

.warp .details .center .Price ul li .jg span {
  font-size: 0.28rem;
  color: #e86800;
}

.warp .details .center .Price ul li .jg p {
  font-size: 0.22rem;
  display: flex;
  align-items: flex-end;
  margin-left: 0.05rem;
}

.warp .details .center .Price ul li .jg p em {
  font-size: 0.6rem;
  line-height: 0.7rem;
  margin-right: 0.05rem;
  color: #e86800;
}

.warp .details .center .Price ul li.market p {
  color: #999999;
}

.warp .details .center .Price ul li.market .jg {
  color: #999999;
}

.warp .details .center .Price ul li.market .jg span {
  color: #999999;
}

.warp .details .center .Price ul li.market .jg p em {
  text-decoration: line-through;
  color: #999999;
}

.warp .details .center .member .top {
  height: 1rem;
  border-bottom: 0.01rem solid rgba(204, 204, 204, 0.4);
  padding-left: 0.4rem;
  display: flex;
  align-items: center;
}

.warp .details .center .member .top h2 {
  font-size: 0.32rem;
  color: #333333;
  margin-right: 0.16rem;
}

.warp .details .center .member .top a {
  width: 1.49rem;
  height: 0.4rem;
  background: url(../image/Opening.png) no-repeat;
  background-size: 100% 100%;
  font-size: 0.24rem;
  color: #ffffff;
  padding-left: 0.13rem;
  line-height: 0.4rem;
  display: block;
}

.warp .details .center .member .bot {
  height: 0.9rem;
  display: flex;
  align-items: center;
}

.warp .details .center .member .bot ul {
  display: flex;
  align-items: center;
  height: 0.34rem;
  width: 100%;
}

.warp .details .center .member .bot ul li {
  width: 50%;
  font-size: 0.24rem;
  color: #333333;
  text-align: center;
}

.warp .details .center .member .bot ul li.bord {
  width: 0.01rem;
  height: 100%;
  background-color: #cccccc;
}

.warp .details .center .wholesale {
  padding: 0.18rem 0.58rem;
  display: flex;
  align-items: center;
}

.warp .details .center .wholesale .bt {
  width: 1.05rem;
  height: 1.05rem;
  background-color: #e96800;
  border-radius: 100%;
  border-bottom-right-radius: 0;
  font-size: 0.34rem;
  color: #ffffff;
  padding: 0.08rem 0.18rem;
  text-align: justify;
}

.warp .details .center .wholesale .right {
  width: 4rem;
  margin-left: 0.6rem;
}

.warp .details .center .wholesale .right .piece,
.warp .details .center .wholesale .right .bot {
  display: flex;
  align-items: center;
}

.warp .details .center .wholesale .right .piece span,
.warp .details .center .wholesale .right .bot span {
  flex: 1;
  text-align: center;
}

.warp .details .center .wholesale .right .piece span {
  font-size: 0.24rem;
  color: #333333;
  line-height: 1;
}

.warp .details .center .wholesale .right .bot {
  display: flex;
  align-items: flex-end;
}

.warp .details .center .wholesale .right .bot span {
  font-size: 0.22rem;
  color: #333333;
  padding-top: 0.21rem;
  position: relative;
}

.warp .details .center .wholesale .right .bot span em {
  font-size: 0.48rem;
  line-height: 1;
}

.warp .details .center .wholesale .right .bot span.one::after {
  content: "";
  position: absolute;
  top: 0.01rem;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 0.15rem;
  height: 0.09rem;
  background: url(../image/xl_2.png) no-repeat;
  background-size: 100% 100%;
}

.warp .details .center .wholesale .right .bot span.two::after {
  content: "";
  position: absolute;
  top: 0.01rem;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 0.15rem;
  height: 0.09rem;
  background: url(../image/xl_1.png) no-repeat;
  background-size: 100% 100%;
}

.warp .details .center .wholesale .right .border {
  width: 100%;
  height: 0.08rem;
  background-color: #ffe287;
  border-radius: 0.04rem;
  margin-top: 0.16rem;
}

.warp .details .center .wholesale .right .border .bord {
  width: 50%;
  height: 0.08rem;
  background-color: #e96800;
  border-radius: 0.04rem;
}

.warp .details .center .pic {
  width: 100%;
  margin-top: 0.25rem;
  padding: 0 0.2rem 0.5rem;
  min-height: 150px;
  background-image: url(../image/index_list_bg.png);
  background-size: 100%;
  background-repeat: no-repeat;
  word-wrap: break-word;
  border-radius: 15px;
}

.warp .details .center .pic .bt {
  height: 0.78rem;
  line-height: 0.78rem;
  text-align: center;
  margin-bottom: 0.51rem;
  font-size: 0.36rem;
  color: #ffffff;
}

.warp .details .center .pic img {
  width: 100%;
}

.warp .position {
  width: 100%;
  height: 0.97rem;
  border-bottom: 0.01rem solid #cccccc;
  line-height: 0.97rem;
  padding: 0 0.22rem;
  color: #333333;
  font-size: 0.32rem;
}

.warp .position a {
  color: #333333;
}

.warp .position span {
  margin: 0 0.1rem;
}

.warp .position a.me {
  color: #e96800;
}

.warp .vip_list ul li {
  padding: 0.3rem 0.3rem 0.3rem 0.2rem;
  display: flex;
  border-bottom: 0.01rem solid #e6e6e6;
}

.warp .vip_list ul li img.pic {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 0.12rem;
}

.warp .vip_list ul li .right {
  flex: 1;
}

.warp .vip_list ul li .right h5.bt {
  margin-left: 0.16rem;
  margin-bottom: 0.16rem;
  font-size: 0.28rem;
  color: #333333;
  font-weight: normal;
  line-height: 0.31rem;
}

.warp .vip_list ul li .right h5.bt a {
  color: #333333;
}

.warp .vip_list ul li .right .shopTag {
  width: 100%;
  height: 0.26rem;
  margin-left: 0.16rem;
  margin-top: 0.16rem;
  margin-bottom: 0.2rem;
  font-size: 0.2rem;
  color: #fff;
  display: flex;
}

.warp .vip_list ul li .right .shopTag span {
  width: 60px;
  height: 20px;
  text-align: center;
  margin-right: 5px;
  line-height: 20px;
  border-radius: 5px;
  background-color: #ff4a47;
}

.warp .vip_list ul li .right .shopTag span.tag2 {
  width: 60px;
  height: 20px;
  text-align: center;
  margin-right: 5px;
  line-height: 20px;
  border-radius: 5px;
  background-color: #01ae66;
}

.warp .vip_list ul li .right .shopTag span.tag3 {
  width: 60px;
  height: 20px;
  text-align: center;
  margin-right: 5px;
  line-height: 20px;
  border-radius: 5px;
  background-color: #fe9b39;
}

.warp .vip_list ul li .right .shopTag span.tag4 {
  width: 60px;
  height: 20px;
  text-align: center;
  margin-right: 5px;
  line-height: 20px;
  border-radius: 5px;
  background-color: #3e76ff;
}

.warp .vip_list ul li .bot {
  width: 100%;
  display: flex;
  margin-left: 0.15rem;
  justify-content: space-between;
  align-items: flex-end;
}

.warp .vip_list ul li .bot p.price {
  font-size: 0.22rem;
  color: #333333;
  display: flex;
  align-items: flex-end;
}

.warp .vip_list ul li .bot p.price span {
  color: #e86800;
}

.warp .vip_list ul li .bot p.price span b {
  font-size: 0.32rem;
  color: #e86800;
}

.warp .vip_list ul li .bot p.stock,
.warp .vip_list ul li .bot p.sales {
  font-size: 0.22rem;
  color: #999999;
}

.warp .vip_list ul li .bot a.buy2 {
  width: 1.23rem;
  height: 0.41rem;
  background: url(../image/buy_bg2.png) no-repeat;
  background-size: 100% 100%;
  font-size: 0.22rem;
  color: #fff;
  line-height: 0.41rem;
  text-align: center;
}

.warp .vip_list ul li .bot a.buy {
  width: 1.4rem;
  height: 0.5rem;
  background: url(../image/buy_bg.png) no-repeat;
  background-size: 100% 100%;
  font-size: 0.22rem;
  color: #fff;
  line-height: 0.5rem;
  text-align: center;
}

.warp .Mall_news {
  width: 100%;
}

.warp .Mall_news ul li {
  padding-top: .42rem;
  padding-bottom: .38rem;
}

.warp .Mall_news ul li .container {
  padding: 0 .31rem;
}

.warp .Mall_news ul li .container .title {
  height: 1.13rem;
  display: flex;
  align-items: center;
  margin-bottom: .23rem;
}

.warp .Mall_news ul li .container .title img {
  width: 0.8rem;
}

.warp .Mall_news ul li .container .title h6 {
  font-size: .36rem;
  color: #333333;
  margin-left: .2rem;
}

.warp .Mall_news ul li .container p.time {
  font-size: .24rem;
  color: #999999;
}

.warp .Mall_news ul li .container .center_bot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .28rem;
}

.warp .Mall_news ul li .container .center .bt {
  font-size: .32rem;
  color: #333333;
  font-weight: bold;
}

.warp .Mall_news ul li .container .center .content {
  font-size: .28rem;
  color: #666666;
  margin-top: .12rem;
  max-height: 1.2rem;
  overflow: hidden;
  margin-bottom: .17rem;
}

.warp .Mall_news ul li .container .center .content img {
  width: 1rem;
}

.warp .Mall_news ul li .container .center .all {
  font-size: .24rem;
  color: #CCCCCC;
}

.warp .Mall_news ul li .container .center .picture {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: .22rem;
}

.warp .Mall_news ul li .container .center .picture img {
  width: 2.26rem;
  margin-right: .05rem;
  margin-bottom: .05rem;
  max-height: 3rem;
}

.warp .Mall_news ul li .container .center .picture img:nth-child(3n) {
  margin-right: 0;
}

.warp .Mall_news ul li .bot {
  width: 100%;
  background-color: #f5f5f5;
  height: .6rem;
  padding: 0 1.88rem;
}

.warp .Mall_news ul li .bot ul {
  display: flex;
  justify-content: center;
}

.warp .Mall_news ul li .bot ul li {
  padding: 0;
  display: flex;
  align-items: center;
  height: .6rem;
}

.warp .Mall_news ul li .bot ul li img {
  width: auto;
  height: .21rem;
}

.warp .Mall_news ul li .bot ul li p {
  font-size: .24rem;
  color: #9e9e9e;
  margin-left: .1rem;
}

.warp .Cashier {
  width: 100%;
}

.warp .Cashier .Cashier_top {
  padding: 0 .3rem;
}

.warp .Cashier .Cashier_top ul li {
  width: 100%;
  height: .76rem;
  border-bottom: .02rem solid #f7f7f7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.warp .Cashier .Cashier_top ul li p.column {
  font-size: .28rem;
  color: #333333;
  font-weight: bold;
}

.warp .Cashier .Cashier_top ul li p.sub {
  font-size: .28rem;
  color: #666666;
}

.warp .Cashier .Cashier_top ul li p.money {
  color: #E86800;
}

.warp .Cashier .Cashier_top ul li p.balance {
  color: #333333;
}

.warp .Cashier .Cashier_top ul li p.balance span {
  margin-right: .17rem;
  width: 1.12rem;
  height: .36rem;
  background-color: #FFBF00;
  font-size: .22rem;
  color: #ffffff;
  display: inline-block;
  text-align: center;
  line-height: .36rem;
  border-radius: .16rem 0 .16rem 0;
}

.warp .Cashier .Cashier_top ul li:last-child {
  border-bottom: 0;
}

.warp .Cashier .border {
  width: 100%;
  height: .14rem;
  background-color: #F5F5F5;
}

.warp .Cashier .Cashier_bot {
  padding: 0 .3rem;
}

.warp .Cashier .Cashier_bot ul li {
  height: 1.25rem;
  border-bottom: .02rem solid #f7f7f7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.warp .Cashier .Cashier_bot ul li .icon {
  width: .89rem;
  height: .56rem;
  border-right: .02rem solid #eeeeee;
}

.warp .Cashier .Cashier_bot ul li .icon img {
  width: auto;
}

.warp .Cashier .Cashier_bot ul li .icon img.icon_balance {
  height: .54rem;
}

.warp .Cashier .Cashier_bot ul li .icon img.icon_ZFB {
  height: .47rem;
}

.warp .Cashier .Cashier_bot ul li .icon img.icon_WX {
  height: .46rem;
}

.warp .Cashier .Cashier_bot ul li .icon img.icon_QQ {
  height: .45rem;
  margin-left: .09rem;
}

.warp .Cashier .Cashier_bot ul li .icon img.icon_YL {
  height: .37rem;
}

.warp .Cashier .Cashier_bot ul li .right {
  flex: 1;
  padding-left: .31rem;
  position: relative;
}

.warp .Cashier .Cashier_bot ul li .right p {
  font-size: .28rem;
  color: #333333;
  line-height: 1;
  margin-bottom: .08rem;
}

.warp .Cashier .Cashier_bot ul li .right span {
  display: flex;
  font-size: .24rem;
  color: #999999;
}

.warp .Cashier .Cashier_bot ul li .right span img {
  width: auto;
  width: .24rem;
  margin-right: .12rem;
}

.warp .Cashier .Cashier_bot ul li .right img.go_right {
  width: auto;
  height: .32rem;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0%, -50%);
}

.warp .order>div {
  padding: .3rem .2rem;
}

.warp .order .goods {
  display: flex;
}

.warp .order .goods img {
  width: 1.4rem;
  height: 1.4rem;
}

.warp .order .goods .right {
  width: 100%;
}

.warp .order .goods .right h5.bt {
  width: 100%;
  height: .64rem;
  margin-left: 0.16rem;
  font-size: 0.28rem;
  color: #333333;
  font-weight: normal;
  line-height: 0.32rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.warp .order .goods .right p.state {
  width: 1.03rem;
  height: 0.26rem;
  margin-left: 0.12rem;
  line-height: 0.26rem;
  font-size: 0.2rem;
  color: #ffffff;
  margin-top: 0.02rem;
}

.warp .order .goods .right p.state span {
  width: 0.95rem;
  text-align: center;
  display: block;
  float: right;
}

.warp .order .goods .right p.official {
  background: url(../image/official.png) no-repeat;
  background-size: 100% 100%;
}

.warp .order .goods .right p.automatic {
  background: url(../image/automatic.png) no-repeat;
  background-size: 100% 100%;
}

.warp .order .goods .right p.price {
  font-size: 0.22rem;
  color: #333333;
  display: flex;
  align-items: flex-end;
  margin-top: .12rem;
  margin-left: .15rem;
}

.warp .order .goods .right p.price span {
  color: #e86800;
  margin-right: .04rem;
}

.warp .order .goods .right p.price span b {
  font-size: 0.32rem;
  color: #e86800;
}

.warp .order .border {
  width: 100%;
  height: .14rem;
  background-color: #F0F0F0;
  padding: 0;
}

.warp .order .order_information ul li {
  padding: .02rem 0;
}

.warp .order .order_information ul li b {
  font-size: .26rem;
  color: #333333;
}

.warp .order .order_information ul li span {
  margin-left: .15rem;
  font-size: .26rem;
  color: #999999;
}

.warp .order .recharge_information {
  padding-right: .32rem;
}

.warp .order .recharge_information h5 {
  font-size: .32rem;
  color: #333333;
  margin-bottom: .22rem;
}

.warp .order .recharge_information .inp {
  width: 100%;
  height: .54rem;
  background-color: #EDEDED;
  display: flex;
  align-items: center;
  padding: 0 .21rem;
}

.warp .order .recharge_information .inp b {
  font-size: .28rem;
  color: #333333;
}

.warp .order .recharge_information .inp span {
  font-size: .28rem;
  color: #999999;
  margin-left: .1rem;
}

.warp .order .receipt h5 {
  font-size: .32rem;
  color: #333333;
  margin-bottom: .18rem;
}

.warp .order .receipt p {
  font-size: .28rem;
  color: #999999;
}

.warp .order .supplement h5 {
  font-size: .32rem;
  color: #333333;
  margin-bottom: .2rem;
}

.warp .order .supplement textarea {
  width: 100%;
  height: 1.87rem;
  background-color: #F0F0F0;
  border: none;
  outline: none;
  padding: .19rem;
  font-size: .28rem;
  color: #999999;
  box-sizing: border-box;
  resize: none;
  margin-bottom: .29rem;
}

.warp .order .supplement .upload {
  display: flex;
  align-items: center;
  font-size: .28rem;
  color: #E86800;
}

.warp .order .supplement .upload img {
  width: .41rem;
  margin-right: .08rem;
}

.warp .order .btn_submit {
  height: .8rem;
  background-color: #E86800;
  border-radius: .12rem;
  margin: .4rem .2rem;
  margin-top: .2rem;
  text-align: center;
  line-height: .8rem;
  padding: 0;
}

.warp .order .btn_submit a {
  font-size: .28rem;
  color: #FFFFFF;
}

.warp .details_footer {
  width: 100%;
  height: 1rem;
  background-color: #ffffff;
  box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.2);
  position: fixed;
  overflow: hidden;
  bottom: 0px;
  left: 0;
  z-index: 99;
  display: flex;
}

.warp .details_footer .contact_kf {
  width: 1.19rem;
  padding-left: 0.2rem;
  padding-top: 0.14rem;
}

.warp .details_footer .contact_kf img {
  margin: 0 auto;
  width: 0.41rem;
}

.warp .details_footer .contact_kf p {
  font-size: 0.24rem;
  color: #333333;
  margin-top: 0.08rem;
  line-height: 1;
  text-align: center;
}

.warp .details_footer .Buy_now {
  flex: 1;
  background: url(../image/Buy_now_bg.png) no-repeat;
  background-size: 100% 100%;
  padding-right: 0.2rem;
}


.warp .details_footer .Buy_now p {
  text-align: center;
  line-height: 1rem;
  font-size: 0.36rem;
  color: #ffffff;
}

.warp .details_footer .Buy_no {
  flex: 1;
  background-color: #797676;
  background-size: 100% 100%;
  padding-right: 0.2rem;
}

.warp .details_footer .Buy_no p {
  text-align: center;
  line-height: 1rem;
  font-size: 0.36rem;
  color: #ffffff;
}

.warp .deta_mask {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
}

.warp .deta_mask .mask_box {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  /*height: 6.83rem;*/
  background-color: #ffffff;
  padding-top: 0.97rem;
}

.warp .deta_mask .mask_box .close {
  position: absolute;
  right: 0.22rem;
  top: 0.22rem;
  font-size: 0.28rem;
  color: #999999;
}

.warp .deta_mask .mask_box .mask_product {
  margin: 0 0.51rem;
  display: flex;
  padding-bottom: 0.3rem;
  border-bottom: 0.01rem solid #e6e6e6;
}

.warp .deta_mask .mask_box .mask_product img {
  width: 1.45rem;
  height: 1.45rem;
  margin-right: 0.12rem;
}

.warp .deta_mask .mask_box .mask_product .right {
  color: #333333;
  margin-top: 0.1rem;
}

.warp .deta_mask .mask_box .mask_product .right h2 {
  font-size: 0.3rem;
  margin-bottom: 0.17rem;
  max-height: 0.62rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.warp .deta_mask .mask_box .mask_product .right p {
  font-size: 0.22rem;
  line-height: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.warp .deta_mask .mask_box .mask_product .right .je {
  font-size: 0.28rem;
  color: #e86800;
  align-items: flex-end;
  display: flex;
  margin-top: 0.2rem;
}

.warp .deta_mask .mask_box .mask_product .right .je span {
  display: flex;
  align-items: flex-end;
  color: #333333;
  line-height: 1;
}

.warp .deta_mask .mask_box .mask_product .right .je span em {
  font-size: 0.42rem;
  color: #e86800;
  line-height: 1;
  margin-right: .08rem;
}

.warp .deta_mask .mask_box .form {
  margin-left: 0.58rem;
  margin-right: 0.62rem;
  margin-top: 0.4rem;
  color: #333333;
  margin-bottom: 0.4rem;
}

.warp .deta_mask .mask_box .form label {
  color: #333333;
  font-size: 0.32rem;
  width: 2.05rem;
  display: block;
}

.warp .deta_mask .mask_box .form .phone {
  width: 100%;
  height: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.2rem;
}

.warp .deta_mask .mask_box .form .phone input {
  width: 5.04rem;
  height: 0.8rem;
  background-color: #f5f5f5;
  border-radius: 0.08rem;
  font-size: 0.28rem;
  padding-left: 0.2rem;
}

.warp .deta_mask .mask_box .form .phone input::placeholder {
  color: #999999;
}

.warp .deta_mask .mask_box .form .number {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.warp .deta_mask .mask_box .form .number .inp {
  display: flex;
  font-size: .28rem;
  color: #999999;
}

.warp .deta_mask .mask_box .form .number .inp input {
  border: none;
  background: none;
  line-height: .39rem;
}

.warp .deta_mask .mask_box .form .number .inp input.join-money {
  width: 1.02rem;
  height: .39rem;
  text-align: center;
  border: .01rem solid #E6E6E6;
  color: #333333;
}

.warp .deta_mask .mask_box .form .number .inp input.min {
  margin-right: .4rem;
}

.warp .deta_mask .mask_box .form .number .inp input.add {
  margin-left: .4rem;
}

.warp .deta_mask .mask_box a.btn {
  width: 100%;
  height: .88rem;
  background-color: #E86800;
  text-align: center;
  line-height: .88rem;
  font-size: .32rem;
  color: #FFFFFF;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
}

footer {
  position: fixed;
  width: 100%;
  height: 1.2rem;
  bottom: 0;
  left: 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.2rem 0.2rem 0 0;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.3);
  z-index: 99;
}

footer a {
  display: block;
  flex: 1;
}

footer a .img {
  position: relative;
}

footer a .img p {
  position: absolute;
  width: 0.22rem;
  height: 0.22rem;
  background-color: #e96800;
  border-radius: 0.11rem 0.11rem 0.11rem 0;
  font-size: 0.18rem;
  color: #ffffff;
  text-align: center;
  line-height: 0.22rem;
  right: 0.48rem;
  top: -0.19rem;
}

footer a img {
  width: 25px;
  height: 25px;
  margin: 0 auto;
  display: block;
}

footer a p {
  font-size: 0.24rem;
  color: #999999;
  text-align: center;
  margin-top: 0.1rem;
  line-height: 1;
}

footer a.btn {
  width: 23%;
  flex: initial;
  height: .7rem;
  line-height: .66rem;
  margin: 0 .05rem;
  text-align: center;
  border: .02rem solid #444;
  border-radius: .15rem;
}

footer a#copy {
  border-color: #f00000;
  color: #f00000;
}

.to_top {
  width: 0.88rem;
  height: 0.88rem;
  position: fixed;
  right: 0.21rem;
  bottom: 1.66rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 100%;
  z-index: 98;
  box-shadow: 0 0 0.21rem rgba(0, 0, 0, 0.3);
}

.to_top img {
  width: 0.34rem;
}



.Order_list header {
  width: 100%;
  height: 1.2rem;
  background-image: url("../image/ddlb_head.png");
  background-size: 100% 100%;
  position: fixed;
  top: 0;
}

.Order_list header ul {
  width: 6.9rem;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 0.88rem;
}

.Order_list header ul li.left img {
  width: 0.18rem;
  height: 0.32rem;
}

.Order_list header ul li.right {
  width: 6.4rem;
  height: 0.72rem;
  background-color: #fff;
  border-radius: 0.36rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.28rem;
  padding-right: 0.35rem;
}

.Order_list header ul li.right input {
  width: 5rem;
  height: 0.72rem;
}

.Order_list header ul li.right input::placeholder {
  font-size: 0.24rem;
  font-family: PingFang;
  font-weight: 500;
  color: #999999;
}

.Order_list header ul li.right img {
  width: 0.29rem;
}

.Order_list .transaction {
  width: 100%;
  margin-top: 1.2rem;
  position: fixed;
  z-index: 2;
  background-color: #fff;
}

.Order_list .transaction ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 0.75rem;
  margin: 0 auto;
}

.Order_list .transaction ul li p {
  font-size: 0.28rem;
  font-family: PingFang;
  font-weight: 500;
  color: #999999;
}

.Order_list .transaction ul li.click p {
  font-size: 0.32rem;
  font-family: PingFang;
  font-weight: bold;
  color: #e96800;
}

.Order_list .transaction ul li.click p a {
  color: #e96800;
}

.Order_list .Trading_products {
  padding-top: 2.2rem;
  margin-bottom: 1.5rem;
}

.Order_list .Trading_products .product {
  width: 7.22rem;
  margin: 0 auto;
}

.Order_list .Trading_products .product .box {
  width: 100%;
  height: 4.5rem;
  background-color: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  margin-bottom: 0.3rem;
  padding: 0.3rem;
}

.Order_list .Trading_products .product .box .product-info {
  padding: 20px 0 15px 0;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Order_list .Trading_products .product .box .product-info .product-dh {
  font-size: 12px;
  font-weight: 400;

}

.Order_list .Trading_products .product .box .product-info .product-status {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
}

.Order_list .Trading_products .product .box ul li.top img {
  float: left;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 0.12rem;
}

.Order_list .Trading_products .product .box ul li.top p {
  margin-left: 1.55rem;
}

.Order_list .Trading_products .product .box ul li.top .name {
  width: 5.11rem;
  font-size: 0.28rem;
  font-family: PingFang;
  font-weight: bold;
  color: #333333;
  height: 0.9rem;
  overflow: hidden;
}

.Order_list .Trading_products .product .box ul li.top .official {
  width: 1.07rem;
  height: 0.28rem;
  background-image: url("../image/ddlb_logo.png");
  background-size: 100%;
  font-size: 0.2rem;
  font-family: PingFang;
  font-weight: 500;
  color: #ffffff;
  display: block;
  text-align: center;
  line-height: 0.28rem;
  padding-left: 0.1rem;
}

.Order_list .Trading_products .product .box ul li.top .Price {
  font-size: 0.32rem;
  color: #999999;
  margin-top: 0.1rem;
}

.Order_list .Trading_products .product .box ul li.top .Price span {
  font-size: 0.22rem;
}

.Order_list .Trading_products .product .box ul li.top .Price span.Company {
  color: #5c5c5c;
}

.Order_list .Trading_products .product .box ul li.top .Price i {
  font-size: 0.26rem;
  font-family: PingFang;
  color: #999;
  float: right;
}

.Order_list .Trading_products .product .box ul li .number {
  font-size: 0.26rem;
  font-family: PingFang;
  font-weight: bold;
  color: #333333;
  margin-top: 0.4rem;
}

.Order_list .Trading_products .product .box ul li .number span {
  font-weight: 500;
  color: #999999;
}

.Order_list .Trading_products .product .box ul li .time {
  font-size: 0.26rem;
  font-family: PingFang;
  font-weight: bold;
  color: #333333;
  margin-top: 0.1rem;
}

.Order_list .Trading_products .product .box ul li .time span {
  font-weight: 500;
  color: #999999;
}

.Order_list .Trading_products .product .box ul li .piece {
  font-size: 0.26rem;
  font-family: PingFang;
  font-weight: bold;
  color: #333333;
  float: right;
  margin-top: 0.2rem;
}

.Order_list .Trading_products .product .box ul li.pay {
  margin-top: 0.2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.Order_list .Trading_products .product .box ul li.pay .Total_price {
  font-size: 0.26rem;
  font-family: PingFang;
  font-weight: 500;
  text-decoration: line-through;
  color: #999999;
}

.Order_list .Trading_products .product .box ul li.pay .Actual_payment {
  font-size: 0.3rem;
  font-family: PingFang;
  font-weight: bold;
  color: #e96900;
  margin-left: 0.1rem;
}

.Order_list .Trading_products .product .box ul li.obtain {
  display: flex;
  justify-content: space-between;
  margin-top: 0.2rem;
  float: right;
}

.Order_list .Trading_products .product .box ul li.obtain a {
  width: 1.68rem;
  height: 0.68rem;
  border: 1px solid #999999;
  border-radius: 34px;
  text-align: center;
  line-height: 0.68rem;
  display: block;
  font-size: 0.26rem;
  font-family: PingFang;
  font-weight: 500;
  color: #333333;
}

.Order_list .Trading_products .product .box ul li.obtain a.Viewdetails {
  text-align: left;
  border: none;
  color: #666666;
  width: 1.5rem;
}

.Order_list .Trading_products .product .box ul li.obtain a.Continuetopay {
  background: linear-gradient(135deg, #ffaa00, #e96800);
  border: none;
  color: #fff;
}

.Order_list footer {
  position: fixed;
  width: 100%;
  height: 1.2rem;
  bottom: 0;
  left: 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.2rem 0.2rem 0 0;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.3);
  z-index: 99;
}

.Order_list footer a {
  display: block;
  flex: 1;
}

.Order_list footer a .img {
  position: relative;
}

.Order_list footer a .img p {
  position: absolute;
  width: 0.22rem;
  height: 0.22rem;
  background-color: #e96800;
  border-radius: 0.11rem 0.11rem 0.11rem 0;
  font-size: 0.18rem;
  color: #ffffff;
  text-align: center;
  line-height: 0.22rem;
  right: 0.48rem;
  top: -0.19rem;
}

.Order_list footer a img {
  width: 25px;
  height: 25px;
  margin: 0 auto;
}

.Order_list footer a p {
  font-size: 0.24rem;
  color: #999999;
  text-align: center;
  margin-top: 0.1rem;
  line-height: 1;
}

.Client_Services {
  background-color: #fff;
  width: 100%;
  height: 100vh;
}

.Client_Services header {
  width: 100%;
  height: 4.44rem;
  background-image: url("../image/kfym_header.png");
  background-size: 100% 4.44rem;
}

.Client_Services header .head {
  width: 6.9rem;
  margin: 0 auto;
  height: 0.88rem;
  position: relative;
}

.Client_Services header .head p {
  font-size: 0.36rem;
  font-family: PingFang;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  line-height: 0.88rem;
}

.Client_Services header .head img {
  position: absolute;
  width: 0.18rem;
  height: 0.32rem;
  left: 0;
  top: 0.28rem;
}

.Client_Services header .slogan {
  width: 6.9rem;
  margin: 0 auto;
  padding-top: 0.6rem;
}

.Client_Services header .slogan p {
  font-size: 0.42rem;
  font-family: PingFang;
  font-weight: 500;
  color: #ffffff;
}

.Client_Services .choice {
  width: 7.1rem;
  margin: 0 auto;
}

.Client_Services .choice .name {
  width: 100%;
  margin-top: 0.18rem;
}

.Client_Services .choice .name ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Client_Services .choice .name ul li.left {
  width: 2.11rem;
  height: 0.02rem;
  background-color: #f0f0f0;
}

.Client_Services .choice .name ul li p {
  font-size: 0.42rem;
  font-family: PingFang;
  font-weight: 500;
  color: #333333;
}

.Client_Services .choice .mode {
  width: 100%;
  margin-top: 0.5rem;
}

.Client_Services .choice .mode ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Client_Services .choice .mode ul .left {
  width: 2.5rem;
  text-align: center;
}

.Client_Services .choice .mode ul .left img {
  width: 1.34rem;
  height: 1.34rem;
  margin: 0 auto;
}

.Client_Services .choice .mode ul .left p {
  font-size: 0.28rem;
  font-family: PingFang;
  font-weight: bold;
  color: #333333;
  margin-top: 0.23rem;
}

.Client_Services .choice .mode ul .right {
  width: 2.5rem;
  text-align: center;
}

.Client_Services .choice .mode ul .right img {
  width: 1.34rem;
  height: 1.34rem;
  margin: 0 auto;
}

.Client_Services .choice .mode ul .right p {
  font-size: 0.28rem;
  font-family: PingFang;
  font-weight: bold;
  color: #333333;
  margin-top: 0.23rem;
}

.Client_Services .choice .mode ul .in {
  width: 0.02rem;
  height: 1.2rem;
  background: #f0f0f0;
}

.Client_Services .choice .kb {
  width: 7.1rem;
  height: 0.14rem;
  background: #f7f7f7;
  margin: 0.62rem auto;
}

.Client_Services .choice .lxfs {
  width: 6.7rem;
  margin: 0 auto;
}

.Client_Services .choice .lxfs ul li {
  width: 100%;
  height: 0.88rem;
  background: #f58b00;
  border-radius: 0.12rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.41rem;
}

.Client_Services .choice .lxfs ul li img {
  width: 0.3rem;
  height: 0.32rem;
  margin-right: 0.09rem;
}

.Client_Services .choice .lxfs ul li p {
  font-size: 0.36rem;
  font-family: PingFang;
  font-weight: 500;
  color: #ffffff;
}

.Client_Services .choice .lxfs ul li p a {
  color: white;
}

.Client_Services footer {
  position: fixed;
  width: 100%;
  height: 1.2rem;
  bottom: 0;
  left: 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.2rem 0.2rem 0 0;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.3);
  z-index: 99;
}

.Client_Services footer a {
  display: block;
  flex: 1;
}

.Client_Services footer a .img {
  position: relative;
}

.Client_Services footer a .img p {
  position: absolute;
  width: 0.22rem;
  height: 0.22rem;
  background-color: #e96800;
  border-radius: 0.11rem 0.11rem 0.11rem 0;
  font-size: 0.18rem;
  color: #ffffff;
  text-align: center;
  line-height: 0.22rem;
  right: 0.48rem;
  top: -0.19rem;
}

.Client_Services footer a img {
  width: 25px;
  height: 25px;
  margin: 0 auto;
}

.Client_Services footer a p {
  font-size: 0.24rem;
  color: #999999;
  text-align: center;
  margin-top: 0.1rem;
  line-height: 1;
}


.Order_list .Order_no {
  width: 100%;
  padding-top: 2.5rem;
  text-align: center;
}

.Order_list .Order_no img {
  width: 4rem;
  margin: 0 auto;
  display: block;
}

.Order_list .Order_no p {
  width: 2rem;
  font-size: 0.32rem;
  font-family: PingFang;
  font-weight: bold;
  color: #333333;
  line-height: 0.52rem;
  margin: 0.5rem auto;
}

.Order_list .Order_no a {
  width: 6.3rem;
  height: 1.05rem;
  background: linear-gradient(135deg, #ffaa00, #e96800);
  border-radius: 0.53rem;
  display: block;
  margin: 0.89rem auto;
  font-size: 0.36rem;
  letter-spacing: 2px;
  font-weight: bold;
  color: #ffffff;
  line-height: 1.05rem;
  text-align: center;
}

.No_order {
  width: 100%;
  height: 100vh;
}

.No_order header {
  width: 100%;
  height: 0.88rem;
  background-image: url("../image/ddlb_head.png");
  background-size: 100% 100%;
  position: fixed;
  top: 0;
}

.No_order header ul {
  width: 6.9rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 0.88rem;
}

.No_order header ul li.left img {
  width: 0.18rem;
  height: 0.32rem;
}

.No_order header ul li.right {
  width: 6.4rem;
  height: 0.72rem;
  background-color: #fff;
  border-radius: 0.36rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.28rem;
  padding-right: 0.35rem;
}

.No_order header ul li.right input {
  width: 5rem;
  height: 0.72rem;
}

.No_order header ul li.right input::placeholder {
  font-size: 0.24rem;
  font-family: PingFang;
  font-weight: 500;
  color: #999999;
}

.No_order header ul li.right img {
  width: 0.29rem;
}

.No_order .Order_no {
  width: 100%;
  padding-top: 2.9rem;
}

.No_order .Order_no img {
  width: 3.63rem;
  margin: 0 auto;
}

.No_order .Order_no p {
  width: 2rem;
  font-size: 0.32rem;
  font-family: PingFang;
  font-weight: bold;
  color: #333333;
  line-height: 0.52rem;
  margin: 0.5rem auto;
}

.No_order .Order_no a {
  width: 6.3rem;
  height: 1.05rem;
  background: linear-gradient(135deg, #ffaa00, #e96800);
  border-radius: 0.53rem;
  display: block;
  margin: 0.89rem auto;
  font-size: 0.36rem;
  font-family: PingFang;
  font-weight: bold;
  color: #ffffff;
  line-height: 1.05rem;
  text-align: center;
}

.No_order footer {
  position: fixed;
  width: 100%;
  height: 1rem;
  bottom: 0;
  left: 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.2rem 0.2rem 0 0;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.3);
  z-index: 99;
}

.No_order footer a {
  display: block;
  flex: 1;
}

.No_order footer a .img {
  position: relative;
}

.No_order footer a .img p {
  position: absolute;
  width: 0.22rem;
  height: 0.22rem;
  background-color: #e96800;
  border-radius: 0.11rem 0.11rem 0.11rem 0;
  font-size: 0.18rem;
  color: #ffffff;
  text-align: center;
  line-height: 0.22rem;
  right: 0.48rem;
  top: -0.19rem;
}

.No_order footer a img {
  width: 25px;
  height: 25px;
  margin: 0 auto;
}

.No_order footer a p {
  font-size: 0.24rem;
  color: #999999;
  text-align: center;
  margin-top: 0.1rem;
  line-height: 1;
}

.Popup {
  width: 100%;
  height: 100vh;
  background-color: #313131;
  padding-top: 0.1rem;
  position: fixed;
  top: 0;
  z-index: 999;
}

.Popup .Purchase_information {
  width: 100%;
  background-image: url("../image/tanchuang_xuzhi_02.png");
  background-size: 100%;
  padding-top: 3.8rem;
  padding-bottom: 0.02rem;
}

.Popup .Purchase_information .name ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 5.69rem;
  margin: 0 auto;
}

.Popup .Purchase_information .name ul li.left {
  width: 1.87rem;
  height: 0.01rem;
  background-color: #e6e6e6;
}

.Popup .Purchase_information .name ul li p {
  font-size: 0.36rem;
  font-family: PingFang;
  font-weight: bold;
  color: #333333;
}

.Popup .Purchase_information .content {
  width: 5.69rem;
  margin: 0 auto 0.32rem auto;
  max-height: 5rem;
  overflow: auto;
  white-space: pre-line;
}

.Popup .Purchase_information .content p {
  font-size: .24rem;
  font-family: PingFang;
  font-weight: 500;
  color: #4d4d4d;
  line-height: .36rem;
}

.Popup .Purchase_information .content img {
  width: 1.39rem;
  margin-top: .27rem;
}

.Popup .sign_out img {
  width: .81rem;
  margin: .16rem auto;
}