@charset "UTF-8";
body {
  max-width: 1920px;
  background-color: #f7f7f7;
  margin: 0 auto !important;
}

.logo {
  width: 3.29rem;
  height: .54rem;
}

.pc-header {
  height: 1rem;
  background: #465ade;
  padding: 0 0.36rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.pc-heade ul {
  display: flex;
  padding-left: 0.6rem;
  width: 7.5rem;
  overflow: hidden;
}

.pc-heade ul li {
  padding: 0 0.2rem;
}

.pc-heade ul li a {
  width: 1rem;
  display: block;
  line-height: 0.48rem;
  text-align: center;
  /* background: #243BD4; */
  border-radius: 0.24rem;
  font-size: 0.2rem;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #ffffff;
  white-space: nowrap;
  overflow: hidden;
}

.pc_ttliet {
  padding-left: 0.65rem;
}
.pc_ttliet button {
  border: 0 none;
  background: #455ade;
}

.pc_ttliet ul {
  display: flex;
  width: 4.27rem;
  height: 0.66rem;
  border: 0.01rem solid rgba(250, 250, 250, 0.2);
  border-radius: 0.33rem;
  padding: 0 0.3rem;
  align-items: center;
  justify-content: space-between;
}

.pc_ttliet ul input {
  width: 4rem;
  font-size: 0.16rem;
  color: rgba(250, 250, 250, 0.4);
}

.pc_ttliet ul a img {
  width: 0.2rem;
}

.pc_ttli ul a img {
  width: 0.2rem;
}

.pc_ttliet ul input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: rgba(250, 250, 250, 0.4);
  font-size: 0.16rem;
}

.pc_ttli ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.pc_ttli ul a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 0.6rem;
}

.pc_ttli ul a span {
  font-size: 0.16rem;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #ffffff;
  padding-left: 0.1rem;
}

.container {
  width: 1200px;
  background: #ffffff;
  border-radius: 6px;
  padding: 30px 17px;
  margin: 0 auto;
  margin-top: 20px;
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: space-between;*/
}
.container form{
      display: flex;
  align-items: center;
  justify-content: space-between;
}

.container_top input {
  width: 530px;
  height: 60px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 0 20px;
  font-size: 18px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #999999;
}

.container_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container_box select {
  width: 530px;
  height: 60px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 0 20px;
  margin-right: 20px;
  font-size: 18px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #333333;
}

.container_box a {
  padding: 16px;
  background: #465ade;
  border-radius: 4px;
}

.container_box a img {
  width: 28px;
}

.content {
  width: 1200px;
  background: #ffffff;
  border-radius: 6px;
  padding: 30px;
  margin: 0 auto;
  margin-top: 10px;
}

.content_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;
  border-bottom: 1px solid #e6e6e6;
}

.content_top-tl {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.content_top-img {
  margin-right: 40px;
}

.content_top-img img {
  width: 172px;
  height: 172px;
}

.content_top-text div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.content_top-text .divw1200 span {
  width: 92px;
  line-height: 30px;
  text-align: center;
  font-size: 16px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #ffffff;
  background-image: url(../images/30.png);
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-position: center 0;
}
.content_top-text .divw1200 .card {
  background-image: url(../images/60.png);
}

.content_top-text .divw1200 p {
  font-size: 26px;
  font-family: SourceHanSansCN;
  font-weight: bold;
  color: #333333;
  margin-left: 10px;
      width: 500px;
    overflow: hidden;
}

.content_top-text .divw1300 {
  padding-top: 30px;
}

.content_top-text .divw1300 span {
  width: 92px;
  font-size: 18px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #999999;
}

.content_top-text .divw1300 p {
  font-size: 24px;
  font-family: SourceHanSansCN;
  font-weight: 500;
  color: #333333;
  margin-left: 10px;
}

.content_top-text .divw1400 {
  padding-top: 30px;
}

.content_top-text .divw1400 span {
  font-size: 20px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #666666;
  line-height: 48px;
}

.content_top-text .divw1400 a {
  width: 64px;
  line-height: 28px;
  background: rgba(247, 247, 247, 0.2);
  border: 1px solid #cccccc;
  border-radius: 14px;
  margin-left: 10px;
  font-size: 14px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #999999;
  text-align: center;
}

.content_top-tv span {
  display: block;
  text-align: right;
  font-size: 20px;
  font-family: SourceHanSansCN;
  font-weight: 500;
  color: #ff2a00;
}

.content_top-tv p {
  font-size: 20px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #b3b3b3;
  padding-top: 112px;
}

.content_box {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content_box span {
  font-size: 20px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #333333;
  line-height: 48px;
}

.content_box ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content_box ul a {
  width: 108px;
  line-height: 40px;
  border: 1px solid #999999;
  border-radius: 20px;
  font-size: 16px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #333333;
  text-align: center;
  margin-left: 30px;
}

.content_box ul .w1200 {
  color: #6aafff;
  border: 1px solid #6aafff;
}

.content_box ul .w1300 {
  color: #ff3333;
  border: 1px solid #ff3333;
}

.content_top-tv .vi-terli {
  color: #333333;
}

.content_top-tv .vi-terli1 {
  color: #999999;
}

.page {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  margin-top: 60px;
  align-items: center;
  justify-content: center;
  margin-bottom: 112px;
}

.page a {
  width: 38px;
  height: 38px;
  font-size: 12px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #333;
  line-height: 38px;
  border: 1px solid #e6e6e6;
  text-align: center;
  background-color: #fff;
}

.page a:nth-child(1) {
  background: #808080;
  border-radius: 4px 0px 0px 4px;
  color: #ffffff;
}

.page a:last-child {
  border-radius: 0px 4px 4px 0px;
}

.foorng {
  width: 100%;
  line-height: 40px;
  background: #333;
  font-size: 12px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #fff;
  text-align: center;
}
.foorng a{
	color: #FFFFFF;
}
.header_bnfs {
  width: 100%;
  background: #ffffff;
}

.header_top {
  width: 1200px;
  margin: 0 auto;
  padding: 40px 0;
  border-bottom: 1px solid #e6e6e6;
}

.header_top ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_top ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_top ul li img {
  margin-right: 20px;
}

.header_top ul li span {
  font-size: 14px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #333333;
  line-height: 20px;
}

.header_box {
  width: 1200px;
  margin: 0 auto;
  padding: 30px 0;
}

.header_box ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_box ul li {
  font-size: 16px;
  font-family: SourceHanSansCN;
  font-weight: bold;
}

.header_box ul li a {
  color: #333333;
}

.container_top {
  display: flex;
}

/* 分割线 */
.pc-content {
  width: 762px;
  height: 515px;
  background-image: url(../images/40.png);
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-position: center 0;
  margin: 0 auto;
  padding-top: 355px;
}

.pc-content p {
  text-align: center;
  font-size: 28px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #666666;
}

.pc-content a {
  display: block;
  width: 142px;
  line-height: 40px;
  background: #465ade;
  border-radius: 20px;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #ffffff;
  margin-top: 20px;
}

/* 分割线 */
.pc-a-lite {
  display: flex;
  padding: 20px 0;
  width: 1200px;
  margin: 0 auto;
  align-items: center;
}

.pc-a-lite img {
  width: 14px;
  margin-right: 10px;
}

.pc-a-lite a {
  font-size: 16px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #666666;
}

.pc-aside {
  width: 1200px;
  background: #ffffff;
  border: 1px solid #ffffff;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 60px;
}

.pc-aside .contain_tte ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pc-aside .contain_tte ul li {
  text-align: center;
  font-size: 16px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #999999;
  padding: 10px 0 15px 0;
  border-bottom: 1px solid rgba(70, 90, 222, 0.3);
}

.pc-aside .contain_tte ul li:nth-child(1) {
  width: 737px;
}

.pc-aside .contain_tte ul li:nth-child(2) {
  width: 200px;
}

.pc-aside .contain_tte ul li:nth-child(3) {
  width: 200px;
}

.pc-aside .aside_liet {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}

.pc-aside .aside_liet .aside_liet_ta {
  width: 737px;
  padding-right: 107px;
  display: flex;
  align-items: flex-start;
}

.pc-aside .aside_liet .aside_liet_ta img {
  width: 108px;
  margin-right: 20px;
}

.pc-aside .aside_liet .aside_liet_ta ul h4 {
  font-size: 24px;
  font-family: SourceHanSansCN;
  font-weight: 500;
  color: #333333;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.pc-aside .aside_liet .aside_liet_ta ul h4 span{
          width: 400px;
    height: 24px;
    overflow: hidden;
}

.pc-aside .aside_liet .aside_liet_ta ul h4 em {
  width: 83px;
  line-height: 26px;
  text-align: center;
  font-size: 14px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #ffffff;
  background-image: url(../images/60.png);
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-position: center 0;
  margin-right: 10px;
}

.pc-aside .aside_liet .aside_liet_ta ul em {
  display: block;
  font-size: 24px;
  font-family: SourceHanSansCN;
  font-weight: 500;
  color: #333333;
  line-height: 35px;
}

.pc-aside .aside_liet .aside_liet_ta ul p {
  font-size: 16px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #666666;
  padding-top: 18px;
}

.pc-aside .aside_liet .aside_liet_tb {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pc-aside .aside_liet .aside_liet_tb p {
  font-size: 24px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #333333;
}

.pc-aside .aside_liet .aside_liet_tb span {
  display: block;
  width: 60px;
  line-height: 40px;
  border: 1px solid #cccccc;
  margin: 0 10px;
  text-align: center;
  font-size: 16px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #333333;
}

.pc-aside .aside_liet .aside_liet_tc {
  width: 200px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.pc-aside .aside_liet .aside_liet_tc span {
  font-size: 24px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #e10074;
}

.pc-aside .aside_liet .aside_liet_tc p {
  font-size: 38px;
  font-family: SourceHanSansCN;
  font-weight: 500;
  color: #e10074;
  line-height: 40px;
  text-align: center;
}

.pc-aside .pc-divid-h2 h2 {
  font-size: 18px;
  font-family: SourceHanSansCN;
  font-weight: bold;
  color: #333333;
  padding-top: 44px;
}

.pc-aside .pc_divid-tetx {
  padding: 20px;
}

.pc-aside .pc_divid-tetx h2 {
  font-size: 20px;
  font-family: SourceHanSansCN;
  font-weight: bold;
  color: #333333;
  padding: 28px 0;
  border-bottom: 1px solid #eeeeee;
}

.pc-aside .pc_divid-tetx .pc_divid_lisd {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pc-aside .pc_divid-tetx .pc_divid_lisd ul {
  padding-top: 10px;
}

.pc-aside .pc_divid-tetx .pc_divid_lisd ul li {
  font-size: 16px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #333333;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 26px;
}

.pc-aside .pc_divid-tetx .pc_divid_lisd ul li img {
  margin-right: 10px;
}

.pc-aside .pc_divid-tetx .pc_divid_lisd ul li span {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-right: 35px;
}

.pc-aside .pc_divid-tetx .pc_divid_lisd ul li span img {
  margin-right: 10px;
}

.pc-aside .pc_divid-tetx .pc_divid_lisd textarea {
  width: 505px;
  height: 98px;
  background: #f2f2f2;
  border-radius: 6px;
  padding: 20px;
  border: 0;
  margin-top: 30px;
}

.pc-aside .divtye {
  width: 1160px;
  padding: 35px 0;
  background: #f7f7f7;
  margin-top: 20px;
}

.pc-aside .divtye ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.pc-aside .divtye ul li {
  width: 167px;
  /*padding-top: 9px;*/
  height: 66px;
  text-align: center;
  border: 1px solid #cccccc;
  margin-left: 22px;
  font-size: 12px;
  margin-bottom: 20px;
  display: flex;
    align-items: center;
    justify-content: center;
}

.pc-aside .divtye ul li img {
  /*display: block;*/
  /*margin: 0 auto;*/
  width: 20px;
  margin-right: 10px;
}

.pc-aside .DC_lites {
  width: 480px;
  float: right;
}

.pc-aside .DC_lites ul {
  width: 480px;
  height: 104px;
  border: 1px solid #e10074;
  padding: 10px 22px;
}

.pc-aside .DC_lites ul li {
  font-size: 16px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #333333;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.pc-aside .DC_lites ul li span {
  margin-top: 10px;
}

.pc-aside .DC_lites ul li i {
  font-size: 24px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #e10074;
  margin-top: 10px;
}

.pc-aside .DC_lites ul li em {
  font-size: 38px;
  font-family: SourceHanSansCN;
  font-weight: 500;
  color: #e10074;
}

.pc-aside .DC_lites a {
  display: block;
  width: 160px;
  height: 40px;
  background: #e10074;
  font-size: 20px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  line-height: 40px;
  float: right;
}

.main_album {
  padding: 22px;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  margin-bottom: 40px;
}

.main_album .h2_lite {
  font-size: 18px;
  font-family: SourceHanSansCN;
  font-weight: 500;
  color: #333333;
}

.main_album .paging-litets {
  padding: 0 38px;
  width: 100%;
  height: 407px;
  background-image: url(../images/53.png);
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-position: center 0;
  margin-top: 27px;
  margin-bottom: 30px;
}

.main_album .paging-litets .paging {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main_album .paging-litets .paging ul span {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 20px;
}

.main_album .paging-litets .paging ul span em {
  width: 54px;
  height: 21px;
  background: #e5e8ff;
  font-size: 14px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #465ade;
  text-align: center;
  line-height: 21px;
  border-radius: 50px;
}

.main_album .paging-litets .paging ul span i {
  font-size: 20px;
  font-family: SourceHanSansCN;
  font-weight: bold;
  color: #ffffff;
  padding-left: 16px;
}

.main_album .paging-litets .paging ul p {
  font-size: 16px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #aeb7f1;
  padding-left: 67px;
}

.main_album .paging-litets .paging span {
  font-size: 20px;
  font-family: SourceHanSansCN;
  font-weight: bold;
  color: #ffffff;
}

.main_album .paging-litets .paging_top {
  padding-bottom: 35px;
  height: 270px;
}

.main_album .paging-litets .paging_top ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 24px;
}

.main_album .paging-litets .paging_top ul li {
  width: 50%;
  display: flex;
  padding-top: 20px;
}

.main_album .paging-litets .paging_top ul li span {
  width: 65px;
  height: 16px;
  font-size: 16px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #666666;
  text-align-last: justify;
  text-align: justify;
}

.main_album .paging-litets .paging_top ul li p {
  font-size: 16px;
  font-family: SourceHanSansCN;
  font-weight: 500;
  color: #333333;
  padding-left: 50px;
  overflow: hidden;
  width: 480px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main_album .paging-litets .paging_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  border-top: 1px solid #bbc3f0;
}

.main_album .paging-litets .paging_box span {
  display: flex;
  font-size: 21px;
  font-family: SourceHanSansCN;
  font-weight: 500;
  color: #333333;
  align-items: center;
}

.main_album .paging-litets .paging_box span em {
  width: 65px;
  height: 16px;
  font-size: 16px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #666666;
  text-align-last: justify;
  text-align: justify;
}

.main_album .paging-litets .paging_box span i {
  font-size: 16px;
  font-family: SourceHanSansCN;
  font-weight: 500;
  color: #333333;
  padding-left: 50px;
}

.main_album .paging-litets .paging_box span img {
  width: 18px;
  height: 22px;
  margin-right: 10px;
}

.main_album .gallery ul {
  width: 1156px;
  background: #f7f7f7;
  overflow: hidden;
  margin: 30px 0;
}

.main_album .gallery ul p {
  font-size: 20px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #666666;
  line-height: 32px;
  /*text-align-last: justify;*/
  text-align: justify;
  padding: 5px 26px;
}

.main_album .gallery span {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.main_album .gallery span a {
  font-size: 20px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #333333;
  width: 128px;
  height: 48px;
  border: 1px solid #cccccc;
  text-align: center;
  line-height: 48px;
  border-radius: 50px;
  margin-left: 20px;
}

.main_album .gallery span a:nth-child(2) {
  color: #465ade;
  border: 1px solid #465ade;
  opacity: 0.8;
}

.main_album .gallery span a:nth-child(3) {
  width: 165px;
  color: #e10074;
  border: 1px solid #e10074;
  opacity: 0.8;
}

.main_album .gallery_lie {
  padding-top: 33px;
}

.main_album .gallery_lie ul {
  background: #465ade;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.main_album .gallery_lie ul li {
  text-align: center;
  font-size: 16px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #ffffff;
  line-height: 40px;
}

.main_album .gallery_lie ul li:nth-child(1) {
  width: 743px;
}

.main_album .gallery_lie ul li:nth-child(2) {
  width: 212px;
}

.main_album .gallery_lie ul li:nth-child(3) {
  width: 203px;
}

.main_album .galle_litys {
  border: 1px solid #cccccc;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.main_album .galle_litys .galle_cla {
  width: 743px;
  height: 169px;
  border-right: 1px solid #cccccc;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 30px 20px 0;
}

.main_album .galle_litys .galle_cla img {
  width: 108px;
  margin-right: 30px;
}

.main_album .galle_litys .galle_cla span {
  display: flex;
  align-items: center;
}

.main_album .galle_litys .galle_cla span em {
  width: 83px;
  line-height: 26px;
  text-align: center;
  font-size: 14px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #ffffff;
  background-image: url(../images/60.png);
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-position: center 0;
  margin-right: 10px;
}

.main_album .galle_litys .galle_cla span i {
  font-size: 24px;
  font-family: SourceHanSansCN;
  font-weight: 500;
  color: #333333;
}

.main_album .galle_litys .galle_cla p {
  font-size: 24px;
  font-family: SourceHanSansCN;
  font-weight: 500;
  color: #333333;
}

.main_album .galle_litys .galle_clb {
  width: 212px;
  text-align: center;
  font-size: 16px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #333333;
  border-right: 1px solid #cccccc;
  line-height: 169px;
}

.main_album .galle_litys .galle_clc {
  display: flex;
  align-items: flex-end;
  width: 203px;
  justify-content: center;
}

.main_album .galle_litys .galle_clc span {
  font-size: 24px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #333333;
}

.main_album .galle_litys .galle_clc p {
  font-size: 38px;
  font-family: SourceHanSansCN;
  font-weight: 500;
  color: #333333;
  line-height: 41px;
}

.main_album .galle_tyvb {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-top: 20px;
}

.main_album .galle_tyvb p {
  font-size: 16px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #333333;
  padding-right: 20px;
  line-height: 30px;
}

.main_album .galle_tyvb span {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.main_album .galle_tyvb span em {
  font-size: 24px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #e10074;
}

.main_album .galle_tyvb span i {
  font-size: 38px;
  font-family: SourceHanSansCN;
  font-weight: 500;
  color: #e10074;
  line-height: 40px;
}

.main_album .galle_tyvblie {
  /*padding-top: 83px;*/
}

.main_album .galle_tyvblie h4 {
  font-size: 16px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #ff3333;
}

.main_album .galle_tyvblie textarea {
  width: 1132px;
  height: 52px;
  background: #ffffff;
  padding: 14px;
  border: 1px solid #e6e6e6;
  margin-top: 30px;
}

.main_album .galle_tyvblie ul {
  padding-top: 10px;
  display: flex;
}

.main_album .galle_tyvblie ul a {
  width: 200px;
  line-height: 60px;
  background: #465ade;
  display: flex;
  margin-right: 10px;
  font-size: 16px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #ffffff;
  align-items: center;
  justify-content: center;
}

.main_album .galle_tyvblie ul a img {
  margin-right: 10px;
}

.main_album .galle_tyvblie ul a:nth-child(2) {
  background: #e10074;
}

.border1 {
  width: 72px;
  height: 32px;
  background-image: url(../images/19.png);
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-position: center 0;
}

.origin_down {
  width: 1200px;
  background: #ffffff;
  border-radius: 6px;
  margin: 0 auto;
  padding: 30px 20px 0;
  margin-bottom: 40px;
  margin-top: -0.95rem;
}

.origin_down .origin_do {
  width: 399px;
  margin: 0 auto;
}

.origin_down .origin_do img {
  width: 100%;
}

.origin_down .origin_down_tc {
  padding-top: 60px;
}

.origin_down .origin_down_tc ul {
  display: flex;
  background-color: rgba(220, 225, 255, 0.2);
}

.origin_down .origin_down_tc ul li {
  font-size: 16px;
  font-family: SourceHanSansCN;
  font-weight: 500;
  color: #999999;
  text-align: center;
  padding: 16px 15px;
}

.origin_down .origin_down_tc ul li:nth-child(1) {
  width: 192px;
}

.origin_down .origin_down_tc ul li:nth-child(2) {
  width: 495px;
}

.origin_down .origin_down_tc ul li:nth-child(3) {
  width: 121px;
}

.origin_down .origin_down_tc ul li:nth-child(4) {
  width: 202px;
}

.origin_down .origin_down_tc ul li:nth-child(5) {
  width: 121px;
}

.origin_down .origin_down_tv ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 30px 0;
}

.origin_down .origin_down_tv ul li span:nth-child(1) {
  font-size: 16px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #999999;
  text-align: center;
  width: 192px;
}

.origin_down .origin_down_tv ul li span:nth-child(2) {
  font-size: 16px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #333333;
  width: 495px;
  padding-left: 30px;
  position: relative;
}

.origin_down .origin_down_tv ul li span:nth-child(2):after {
  display: block;
  content: "";
  width: 16px;
  height: 69px;
  background: url(../images/35.png) no-repeat center;
  position: absolute;
  top: 20%;
  left: 0%;
}
.origin_down .origin_down_tv ul li span a {
  color: #333333;
  white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 500px;
	display: block;
}

.origin_down .origin_down_tv ul li span:nth-child(3) {
  font-size: 16px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  text-decoration: line-through;
  color: #999999;
  text-align: center;
  width: 121px;
}

.origin_down .origin_down_tv ul li span:nth-child(4) {
  font-size: 16px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 202px;
}

.origin_down .origin_down_tv ul li span:nth-child(4) img {
  margin: 0 10px;
}

.origin_down .origin_down_tv ul li span:nth-child(5) {
  font-size: 16px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #333333;
  text-align: center;
  width: 121px;
}

.origin_down .origin_down_tv ul li:last-child span:nth-child(2):after {
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  background: url(../images/35-1.png) no-repeat center;
  position: absolute;
  top: 20%;
  left: 0%;
}

.class_tyye {
  height: auto;
  padding-top: 0.26rem;
  padding-bottom: 1.35rem;
}

.div_litec_cite {
  width: 1200px;
  margin: 0 auto;
  margin-top: 51px;
  margin-bottom: 65px;
}

.div_litec_cite .liet_lcrte {
  width: 1200px;
  line-height: 48px;
  font-size: 20px;
  font-family: SourceHanSansCN;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  background-image: url(img/3.png);
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-position: center 0;
}

.div_litec_cite .liet_lcrte_wa {
  display: flex;
  padding: 35px;
  background-color: #ffffff;
}

.div_litec_cite .liet_lcrte_wa .images_licx {
  width: 509px;
}

.div_litec_cite .liet_lcrte_wa .text_licx {
  margin-left: 78px;
  width: 513px;
}

.div_litec_cite .liet_lcrte_wa .text_licx .text_licx_cv {
  padding-bottom: 30px;
}

.div_litec_cite .liet_lcrte_wa .text_licx .text_licx_cv ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 26px;
}

.div_litec_cite .liet_lcrte_wa .text_licx .text_licx_cv ul li span {
  width: 124px;
  line-height: 34px;
  background: #e6e6e6;
  border-radius: 4px;
  font-size: 18px;
  font-family: SourceHanSansCN;
  font-weight: 500;
  color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div_litec_cite .liet_lcrte_wa .text_licx .text_licx_cv ul li span em {
  text-align-last: justify;
  text-align: justify;
  width: 70px;
  margin-left: 5px;
}

.div_litec_cite .liet_lcrte_wa .text_licx .text_licx_cv ul li p {
  font-size: 18px;
  font-family: SourceHanSansCN;
  font-weight: 500;
  color: #333333;
  padding-left: 28px;
}

.div_litec_cite .liet_lcrte_wa .text_licx .text_licx_ct {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-top: 1px solid #e6e6e6;
  padding-top: 28px;
}

.div_litec_cite .liet_lcrte_wa .text_licx .text_licx_ct img {
  width: 136px;
}

.div_litec_cite .liet_lcrte_wa .text_licx .text_licx_ct span {
  font-size: 18px;
  font-family: SourceHanSansCN;
  font-weight: 500;
  color: #333333;
  margin-left: 37px;
  width: 144px;
  line-height: 59px;
  background-image: url(../images/32.png);
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-position: center 0;
  text-align: center;
}

.forward_minor {
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 83px;
}

.forward_minor .minor_h2 {
  width: 1200px;
  line-height: 48px;
  font-size: 20px;
  font-family: SourceHanSansCN;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  background-image: url(../images/3.png);
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-position: center 0;
  margin-bottom: 11px;
}

.ntainer_t {
  background-color: #ffffff;
  padding: 0 20px 40px;
}

.ntainer_t ul li {
  width: 160px;
  height: 200px;
  background: #ffffff;
  border: 1px solid rgba(225, 0, 116, 0.23);
  border-radius: 4px;
  padding: 10px;
  margin-top: 40px;
  display: inline-block;
  position: relative;
  margin-right: 10px;
}

.ntainer_t ul li .w1200 {
  position: absolute;
  width: 48px;
  height: 24px;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  top: -6px;
  right: -6px;
  background-image: url(../images/111.png);
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-position: center 0;
}

.ntainer_t ul li .w1300 {
  position: absolute;
  width: 50px;
  height: 39px;
  top: -12px;
  right: -10px;
}

.ntainer_t ul li .w1300 img {
  width: 50px;
  height: 39px;
}

.ntainer_t ul li img {
  width: 140px;
  height: 140px;
}

.ntainer_t ul li p {
  font-size: 16px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #333333;
  text-align: center;
  padding-top: 10px;
}

.ntainer_t ul :nth-child(6n) {
  margin-right: 0;
}

.javasc_header {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 50px 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 80px;
}

.javasc_header .script_top_az {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.javasc_header .script_topsf {
  padding-right: 30px;
}

.javasc_header .div_ttuo {
  padding-top: 30px;
}

.javasc_header .div_ttuo ul {
  width: 360px;
  border: 1px solid #e6e6e6;
}

.javasc_header .div_ttuo ul li {
  display: flex;
  border-top: 1px solid #e6e6e6;
}

.javasc_header .div_ttuo ul li span {
  width: 50%;
  background: #e6e6e6;
  font-size: 16px;
  font-family: SourceHanSansCN;
  font-weight: 500;
  color: #333333;
  line-height: 48px;
  text-align: center;
}

.javasc_header .div_ttuo ul li span:nth-child(1) {
  border-right: 1px solid #ccc;
}

.javasc_header .div_ttuo ul li p {
  width: 50%;
  font-size: 16px;
  font-family: SourceHanSansCN;
  font-weight: 500;
  color: #999;
  line-height: 48px;
  text-align: center;
}

.javasc_header .div_ttuo ul li p:nth-child(1) {
  border-right: 1px solid #ccc;
}

.javasc_header .script_tioty {
  width: 508px;
}

.javasc_header .script_tioty .aside_liet_ta ul {
  padding-bottom: 30px;
  border-bottom: 4px solid #465ade;
}

.javasc_header .script_tioty .aside_liet_ta ul h4 {
  /*display: flex;*/
  /*align-items: center;*/
  font-size: 24px;
  font-family: SourceHanSansCN;
  font-weight: 500;
  color: #333333;
  line-height: 36px;
}

.javasc_header .script_tioty .aside_liet_ta ul h4 span {
  width: 83px;
  line-height: 26px;
  font-size: 14px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  background-image: url(../images/60.png);
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-position: center 0;
  margin-right: 10px;
  display: block;
float: left;
margin-top: 7px;
}

.javasc_header .script_tioty .aside_liet_ta ul em {
  display: block;
  font-size: 24px;
  font-family: SourceHanSansCN;
  font-weight: 500;
  color: #333333;
  line-height: 36px;
  padding-bottom: 19px;
}

.javasc_header .script_tioty .aside_liet_ta ul p {
  font-size: 14px;
  font-family: SourceHanSansCN;
  font-weight: 600;
  color: #ff3333;
  line-height: 22px;
}

.javasc_header .script_tioty .script_liet {
  display: flex;
  width: 508px;
  height: 121px;
  background: #f7f7f7;
  padding: 0 20px 0;
  align-items: center;
  justify-content: space-between;
}

.javasc_header .script_tioty .script_liet ul li {
  justify-content: flex-start;
  display: flex;
  align-items: flex-end;
  padding-top: 20px;
}

.javasc_header .script_tioty .script_liet ul li i {
  font-size: 24px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #e10074;
  padding-right: 10px;
}

.javasc_header .script_tioty .script_liet ul li b {
  font-size: 38px;
  font-family: SourceHanSansCN;
  font-weight: 500;
  color: #e10074;
  padding-right: 10px;
  line-height: 42px;
}

.javasc_header .script_tioty .script_liet ul li em {
  font-size: 20px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  text-decoration: line-through;
  color: #999999;
}

.javasc_header .script_tioty .script_liet ul li p {
  font-size: 16px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #666666;
  padding-right: 35px;
}

.javasc_header .script_tioty .script_liet a {
  width: 88px;
  line-height: 32px;
  background: #465ade;
  border-radius: 16px;
  font-size: 14px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}

.javasc_header .script_tioty .script_liety {
  padding-top: 28px;
}

.javasc_header .script_tioty .script_liety ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.javasc_header .script_tioty .script_liety ul li span {
  width: 105px;
  font-size: 16px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #333333;
  line-height: 40px;
  text-align-last: justify;
  text-align: justify;
  white-space: nowrap;
}

.javasc_header .script_tioty .script_liety ul li input {
  font-size: 16px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #666666;
  line-height: 40px;
  text-align: right;
  width: 300px;
  border-bottom: 1px solid #eae7e7;
}

.javasc_header .script_tioty .script_liety ul li em {
  width: 72px;
  height: 28px;
  border: 1px solid #cccccc;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.javasc_header .script_tioty .script_li_tyc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 60px;
}

.javasc_header .script_tioty .script_li_tyc h4 {
  font-size: 14px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #999999;
}

.javasc_header .script_tioty .aside_liet_tb {
  display: flex;
  align-items: center;
  justify-content: center;
}

.javasc_header .script_tioty .aside_liet_tb p {
  font-size: 24px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #333333;
}

.javasc_header .script_tioty .aside_liet_tb input {
  display: block;
  width: 60px;
  line-height: 40px;
  border: 1px solid #cccccc;
  margin: 0 10px;
  text-align: center;
  font-size: 16px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #333333;
}

.javasc_header .script_tioty .aside_liet_tb a {
  width: 149px;
  height: 40px;
  background: #e10074;
  font-size: 20px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #ffffff;
  line-height: 40px;
  text-align: center;
  margin-left: 30px;
}

.javasc_header .script_top_sz {
  width: 915px;
  padding-top: 80px;
}

.javasc_header .script_top_sz .script_ttec {
  background: #f7f7f7;
  border-bottom: 1px solid #465ade;
}

.javasc_header .script_top_sz .script_ttec ul {
  display: flex;
}

.javasc_header .script_top_sz .script_ttec ul li {
  width: 200px;
  height: 40px;
  font-size: 20px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #666;
  text-align: center;
  line-height: 40px;
}

.javasc_header .script_top_sz .script_ttec ul .active {
  background: #465ade;
  color: #ffffff;
}

.javasc_header .script_top_sz .script_tovt h4 {
  display: flex;
  font-size: 24px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #333333;
  align-items: center;
  padding-top: 30px !important;
}
.javasc_header .script_top_sz .script_tovt .goodsdetails {
  margin-top: 20px;
}
.javasc_header .script_top_sz .script_tovt .goodsdetails img {
    max-width: fit-content;
}
.javasc_header .script_top_sz .script_tovt .goodsdetails span {
  font-size: 18px;
}

.javasc_header .script_top_sz .script_tovt h4 img {
  margin-right: 10px !important;
  width: 20px;
}
.javasc_header .script_top_sz .script_tovt h1 {
  display: flex;
  font-size: 24px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #333333;
  align-items: center;
  padding-top: 30px !important;
}

.javasc_header .script_top_sz .script_tovt h1 img {
  margin-right: 10px !important;
  width: 20px;
}

.javasc_header .script_top_sz .script_tovt .w1200 {
  width: 360px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 20px;
}

.javasc_header .script_top_sz .script_tovt p {
  font-size: 20px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #333333;
  text-align: justify;
  padding-top: 20px;
}
.javasc_header .script_top_sz .script_tovt p img {
  width: 100%;
}

.javasc_header .script_top_sz .script_tovt .ript_tov {
  width: 100%;
  padding: 20px 108px 40px 20px;
  background: #f7f7f7;
  border: 1px solid #ffffff;
  margin-top: 60px;
}

.javasc_header .script_top_sz .script_tovt .ript_tov h4 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.javasc_header .script_top_sz .script_tovt .ript_tov ul {
  padding-left: 25px;
}

.javasc_header .script_top_sz .script_tovt .ript_tov li {
  font-size: 20px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #333333;
  padding-top: 19px;
  list-style-type: decimal !important;
}

.script_box span {
  display: block;
  width: 200px;
  background: #f2f2f2;
  font-size: 20px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #333333;
  line-height: 40px;
  text-align: center;
}

.panel_middle {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 0.2rem;
  margin-bottom: 0.6rem;
}

.panel_middle .div_h4_litye {
  width: 2.4rem;
  height: 0.6rem;
  background: #465ade;
  display: flex;
  align-items: center;
  justify-content: center;
}

.panel_middle .div_h4_litye img {
  width: 1.76rem;
}

.panel_middle .dividr-lite {
  margin-top: 0.1rem;
  background-color: #ffffff;
  padding: 0 0.2rem 0.27rem;
}

.panel_middle .dividr-lite ul li a{
  padding: 0.1rem 0;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  align-items: center;
  /*justify-content: center;*/
}

.panel_middle .dividr-lite ul li img {
  width: 0.36rem;
  margin-right: 0.12rem;
  height: 0.36rem;
  border-radius: 50px;
}

.panel_middle .dividr-lite ul li span {
  font-size: 0.18rem;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #333333;
	  width: 1.5rem;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.panel_middle .panel_middle_ttc {
  width: 12.5rem;
}

.panel_middle .panel_middle_ttc .middle_ttc_top {
  padding: 0.2rem;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.panel_middle .panel_middle_ttc .middle_ttc_top .img {
  padding-right: 0.2rem;
}

.panel_middle .panel_middle_ttc .middle_ttc_top .img img {
  width: 1.08rem;
}

.panel_middle .panel_middle_ttc .middle_ttc_top .div_text ul li {
  width: 10.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.panel_middle .panel_middle_ttc .middle_ttc_top .div_text ul li .lite_linvc {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.panel_middle .panel_middle_ttc .middle_ttc_top .div_text ul li .lite_linvc span {
  font-size: 0.16rem;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #333333;
  line-height: 0.42rem;
    width: 7rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.panel_middle .panel_middle_ttc .middle_ttc_top .div_text ul li .lite_linvc span a {
  color: #333333;
}

.panel_middle .panel_middle_ttc .middle_ttc_top .div_text ul li .lite_linvc p {
  font-size: 0.14rem;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #999999;
  line-height: 0.42rem;
  /*padding-left: 0.2rem;*/
      width: 150px;
      overflow: hidden;
}

.panel_middle .panel_middle_ttc .middle_ttc_top .div_text ul li .lite_linvt {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 1.7rem;
  overflow: hidden;
}

.panel_middle .panel_middle_ttc .middle_ttc_top .div_text ul li .lite_linvt span {
  font-size: 0.12rem;
  font-family: SourceHanSansCN;
  font-weight: 400;
  text-decoration: line-through;
  color: #999999;
  padding-right: 0.2rem;
      width: 1rem;
      overflow: hidden;
}

.panel_middle .panel_middle_ttc .middle_ttc_top .div_text ul li .lite_linvt p {
  font-size: 0.2rem;
  font-family: SourceHanSansCN;
  font-weight: 500;
  color: #e10074;
  padding-right: 0.2rem;
        width: 1rem;
        overflow: hidden;
}

.panel_middle .panel_middle_ttc .middle_ttc_top .div_text ul li .lite_linvt .w1200 {
  color: #465ade;
}

.panel_middle .panel_middle_ttc .middle_ttc_top .div_text ul li .lite_linvt .w1300 {
  color: #333333;
}

.panel_middle .panel_middle_ttc .panel_litysd {
  padding: 0.2rem 0.12rem;
  background: #ffffff;
  margin-top: 0.11rem;
}

.panel_middle .panel_middle_ttc .panel_litysd ul {
  display: flex;
  align-items: center;
  /*justify-content: space-between;*/
  flex-wrap: wrap;
  position: relative;
}

/*.panel_litysd  .swiper-slide.swiper-slide-active{*/
/*    margin-right:0 !important;*/
/*}*/

.panel_middle .panel_middle_ttc .panel_litysd ul li {
  margin: 0.05rem 0;
  /*width: 1.96rem;*/
  height: 0.48rem;
}

.panel_middle .panel_middle_ttc .panel_litysd ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.96rem;
  height: 0.48rem;
  /*border: 1px solid #e6e6e6;*/
}

.panel_middle .panel_middle_ttc .panel_litysd ul li a img {
  width: 0.36rem;
  height: 0.36rem;
  margin-right: 0.08rem;
  border-radius: 50px;
}

.panel_middle .panel_middle_ttc .panel_litysd ul li a span {
  font-size: 0.18rem;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #333333;
  width: 2rem;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.panel_middle .panel_middle_ttc .panel_litysd ul li a p {
  width: 1.96rem;
  line-height: 0.48rem;
  background: #f7f7f7;
  border: 1px solid #e6e6e6;
  font-size: 0.18rem;
  font-family: SourceHanSansCN;
  font-weight: 500;
  color: #333333;
  text-align: center;
}

.panel_middle .panel_middle_ttc .panel_litysd ul .w1450 {
  width: 2.06rem;
  position: absolute;
  top: -0.05rem;
  left: -0.25rem;
}

.panel_middle .panel_middle_ttc .panel_li_text {
  display: flex;
  height: 3rem;
  margin-top: 0.1rem;
  align-items: center;
  justify-content: flex-start;
  background-color: #ffffff;
}

.panel_middle .panel_middle_ttc .panel_li_text img {
  width: 2.08rem;
}

.panel_middle .panel_middle_ttc .panel_li_text ul {
   /*display: flex; */
  align-items: center;
  justify-content: space-between;
  padding: 0 0.2rem;
  width: 10.4rem;
  /*overflow: auto;*/
  /*white-space: nowrap;*/
}

.panel_middle .panel_middle_ttc .panel_li_text ul li {
    position: relative;
    width: 1.64rem;
    /*display: inline-block;*/
}

.panel_middle .panel_middle_ttc .panel_li_text ul li img {
  width: 1.28rem;
  margin: 0 auto;
  height: 1.28rem;
}

.panel_middle .panel_middle_ttc .panel_li_text ul li p {
  font-size: 0.14rem;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #333333;
  text-align: center;
  padding-top: 0.2rem;
  word-break:break-all;
  height: 1rem;
    /* text-overflow: unset; */
  overflow: hidden;  
}

.panel_middle .panel_middle_ttc .panel_li_text ul li span {
  font-size: 0.24rem;
  font-family: SourceHanSansCN;
  font-weight: 500;
  color: #e10074;
  text-align: center;
  display: block;
  padding-top: 0.1rem;
}

.panel_middle .panel_middle_ttc .panel_li_text ul li:after {
  display: block;
  position: absolute;
  content: "";
  clear: both;
  width: 0.01rem;
  height: 1.4rem;
  background-color: #e6e6e6;
  top: 0.1rem;
  left: -0.2rem;
}

.panel_middle .panel_middle_ttc .panel_li-tycv {
  margin-top: 0.1rem;
}

.panel_middle .panel_middle_ttc .panel_li-tycv .h4_liter {
  font-size: 0.2rem;
  font-family: SourceHanSansCN;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  line-height: 0.48rem;
  background-image: url(img/3.png);
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-position: center 0;
}

.panel_middle .panel_middle_ttc .panel_li-tycv .anel_li-tyc {
  margin-top: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem 0.29rem;
  background-color: #ffffff;
}

.panel_middle .panel_middle_ttc .panel_li-tycv .anel_li-tyc .ckass_lit {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.panel_middle .panel_middle_ttc .panel_li-tycv .anel_li-tyc .ckass_lit img {
  width: 1rem;
  height: 1rem;
  margin-right: 0.18rem;
}

.panel_middle .panel_middle_ttc .panel_li-tycv .anel_li-tyc .ckass_lit ul h4 {
  /*font-size: 20px;*/
  /*font-family: SourceHanSansCN;*/
  /*font-weight: 500;*/
  /*color: #333333;*/
  /*display: flex;*/
  /*align-items: center;*/
  height: 21px;
    font-size: 20px;
    font-family: SourceHanSansCN;
    font-weight: 500;
    color: #333333;
    display: flex;
    align-items: flex-start;
}
.panel_middle .panel_middle_ttc .panel_li-tycv .anel_li-tyc .ckass_lit ul h4 p{
        width: 500px;
        height: 30px;
    overflow: hidden;
}

.panel_middle .panel_middle_ttc .panel_li-tycv .anel_li-tyc .ckass_lit ul h4 em {
  width: 0.89rem;
  line-height: 0.24rem;
  background: #465ade;
  border-radius: 0.12rem 0.12rem 0.12rem 0px;
  
  font-size: 0.14rem;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #ffffff;

}
.biaoq{

      width: 0.89rem;
  line-height: 0.38rem;
  background: #465ade;
  border-radius: 0.12rem 0.12rem 0.12rem 0px;
  font-size: 0.14rem;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #ffffff;
}
.panel_middle .panel_middle_ttc .panel_li-tycv .anel_li-tyc .ckass_lit ul span {
  display: flex;
  padding-top: 0.12rem;
  align-items: flex-end;
  justify-content: flex-start;
}

.panel_middle .panel_middle_ttc .panel_li-tycv .anel_li-tyc .ckass_lit ul span b {
  font-size: 16px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  text-decoration: line-through;
  color: #999999;
}

.panel_middle .panel_middle_ttc .panel_li-tycv .anel_li-tyc .ckass_lit ul span i {
  font-size: 20px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #e10074;
  padding-left: 0.13rem;
  padding-right: 0.07rem;
}

.panel_middle .panel_middle_ttc .panel_li-tycv .anel_li-tyc .ckass_lit ul span em {
  font-size: 25px;
  font-family: SourceHanSansCN;
  font-weight: 500;
  color: #e10074;
  line-height: 0.25rem;
}

.panel_middle .panel_middle_ttc .panel_li-tycv .anel_li-tyc .ckass_lit ul li {
  display: flex;
  padding-top: 0.1rem;
}

.panel_middle .panel_middle_ttc .panel_li-tycv .anel_li-tyc .ckass_lit ul li p {
  font-size: 0.16rem;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #666666;
  padding-right: 0.2rem;
}

.panel_middle .panel_middle_ttc .panel_li-tycv .anel_li-tyc a {
  width: 1.32rem;
  line-height: 0.44rem;
  border: 1px solid #e10074;
  border-radius: 0.22rem;
  font-size: 0.2rem;
  font-family: SourceHanSansCN;
  font-weight: 500;
  color: #e10074;
  text-align: center;
}

.panel_middle_fr {
  width: 3.8rem;
  min-height: 15rem;
}

.panel_middle_fr .middle_fr_top {
  width: 3.8rem;
  height: 2rem;
  background-image: url(../images/29.png);
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-position: center 0;
}

.panel_middle_fr .middle_fr_top .fr_top-lite {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.2rem;
}

.panel_middle_fr .middle_fr_top .fr_top-lite img {
  width: 0.54rem;
  margin-right: 0.12rem;
}

.panel_middle_fr .middle_fr_top .fr_top-lite ul p {
  font-size: 20px;
  font-family: SourceHanSansCN;
  font-weight: 500;
  color: #ffffff;
}

.panel_middle_fr .middle_fr_top .fr_top-lite ul span {
  display: flex;
  font-size: 14px;
  font-family: SourceHanSansCN;
  font-weight: 500;
  align-items: center;
  justify-content: flex-start;
  color: #ffffff;
}

.panel_middle_fr .middle_fr_top .fr_top-lite ul span img {
  width: 0.15rem;
}

.panel_middle_fr .middle_fr_top .div_tolite {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.panel_middle_fr .middle_fr_top .div_tolite ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 0.35rem;
}

.panel_middle_fr .middle_fr_top .div_tolite ul p {
  font-size: 0.16rem;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #ffffff;
}

.panel_middle_fr .middle_fr_top .div_tolite ul em {
  font-size: 0.28rem;
  font-family: SourceHanSansCN;
  font-weight: 500;
  color: #ffffff;
}

.panel_middle_fr .middle_fr_top .div_tolite ul i {
  width: 0.4rem;
  line-height: 0.18rem;
  background: #e10074;
  border-radius: 0.09rem 0.09rem 0.09rem 0px;
  font-size: 0.12rem;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  margin-left: 0.07rem;
  margin-top: -0.1rem;
}
.panel_middle_fr .middle_fr_top .div_tolite ul i a{
  color: #ffffff;
}

.panel_middle_fr .middle_fr_top .div_tolite span {
  width: 0.96rem;
  line-height: 0.28rem;
  background: rgba(0, 8, 61, 0.3);
  border-radius: 0.14rem 0px 0px 0.14rem;
  font-size: 0.14rem;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}
.panel_middle_fr .middle_fr_top .div_tolite span a{
  color: #ffffff;
}

.panel_middle_fr .middle_fr_top .dividrt_lite {
  padding: 0.13rem 0.3rem 0;
}

.panel_middle_fr .middle_fr_top .dividrt_lite ul {
  display: flex;
  padding-top: 0.15rem;
  align-items: center;
  justify-content: center;
  border-top: 1px solid rgba(220, 225, 255, 0.1);
}

.panel_middle_fr .middle_fr_top .dividrt_lite ul li {
  width: 50%;
}

.panel_middle_fr .middle_fr_top .dividrt_lite ul li a {
  display: flex;
  font-size: 0.16rem;
  font-family: SourceHanSansCN;
  font-weight: 500;
  color: #ffffff;
  align-items: center;
  justify-content: center;
}

.panel_middle_fr .middle_fr_top .dividrt_lite ul li a img {
  height: 0.18rem;
  margin-right: 0.08rem;
}

.panel_middle_fr .middle_fr_top .dividrt_lite ul li a:nth-child(1) {
  border-right: 1px solid rgba(220, 225, 255, 0.1);
}

.middle_fr_box {
  width: 3.8rem;
  height: 2.18rem;
  background-image: url(img/vbj.png);
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-position: center 0;
  padding: 0.2rem;
  margin-top: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
      overflow: hidden;
}

.middle_fr_box .div-img-a {
  padding-right: 0.3rem;
}

.middle_fr_box .div-img-a img {
  width: 1.47rem;
  height: 1.47rem;
}

.middle_fr_box .div-img-a span {
  display: block;
  font-size: 0.14rem;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  padding-top: 0.1rem;
}

.middle_fr_box .div-img-b h2 {
  font-size: 0.32rem;
  font-family: PangMenZhengDao;
  font-weight: 400;
  color: #ffffff;
  text-shadow: 0px 0.03rem 0.02rem rgba(0, 28, 60, 0.54);
}
.middle_fr_box .div-img-b h2 a {
  color: #ffffff;
}
.middle_fr_box .div-img-b ul li {
  display: flex;
  padding-top: 0.1rem;
  align-items: center;
}
.middle_fr_box .div-img-b ul li a{
      display: flex;
  align-items: center;
}

.middle_fr_box .div-img-b ul li img {
  height: 0.2rem;
  margin-right: 0.1rem;
}

.middle_fr_box .div-img-b ul li span {
  font-size: 0.2rem;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #ffffff;
  text-shadow: 0px 0.02rem 0.02rem rgba(0, 38, 82, 0.44);
}

.box_liters {
  margin-top: 0.2rem;
  background: #ffffff;
  padding: 0.14rem;
}

.box_liters h4 {
  display: flex;
  font-size: 16px;
  font-family: SourceHanSansCN;
  font-weight: bold;
  color: #333333;
}
.box_liters h4 span {
  width: 3rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
    

.box_liters h4 img {
  width: 0.81rem;
  margin-right: 0.12rem;
}

.box_liters p {
  font-size: 0.14rem;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #999999;
  line-height: 0.2rem;
  padding-top: 0.12rem;
  text-align: justify;
}

.imagescrt ul li img {
  width: 3.8rem;
  height: 2rem;
  margin-top: .2rem;
}

.fanhdinbu {
  position: fixed;
  width: .8rem;
  height: .8rem;
  background: rgba(0, 0, 0, 0.6);
  border-radius: .08rem 0px 0px .08rem;
  display: flex;
  z-index: 8888;
  right: 0;
  top: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}